<!--Placeholder for the first row digits -->
<div class="smaller-digits">
	<div class="button-holder-digits">
		<button class="digits-button"  ng-click="readDigitValue('I')">{{i18n.NUMBER_I}}</button>
	</div>					
	<div class="button-holder-digits">
		<button class="digits-button" ng-click="readDigitValue('V')">{{i18n.NUMBER_V}}</button>
	</div>					
	<div class="button-holder-digits">
		<button class="digits-button" ng-click="readDigitValue('X')">{{i18n.NUMBER_X}}</button>
	</div>
</div>
<!--Placeholder for the second row digits -->
<div class="higher-digits">
	<div class="button-holder-digits">
		<button class="digits-button" ng-click="readDigitValue('L')">{{i18n.NUMBER_L}}</button>
	</div>										
	<div class="button-holder-digits">
		<button class="digits-button" ng-click="readDigitValue('C')">{{i18n.NUMBER_C}}</button>
	</div>					
	<div class="button-holder-digits">
		<button class="digits-button" ng-click="readDigitValue('D')">{{i18n.NUMBER_D}}</button>
	</div>
</div>
